@page "/"

@using BlazorUI.Services.APIClients
@using HttpRequestModelsClassLibrary
@using Microsoft.AspNetCore.WebUtilities
@using System.Web

@inject AnonymousDZIClient AnonymousClient
@inject AdminDZIClient AdminClient
@inject NavigationManager NavManager

@if (HasInitialized)
{
    <OpenSeadragonViewer @ref="Viewer"
                         TileSourcePaths="TileSourcePaths"
                         AnnotationPaths="AnnotationPaths"
                         OnAnnotationsChanged="OnAnnotationsChanged"
                         OnPageChanged="OnPageChanged"
                         class="covers-entire-parent" />
    <div class="bottom-left-of-parent">
        <div id="annotationsToggleButton" @onclick="ToggleDisplayAnnotations"></div>
        <div class="annotation-menu-content">
            @if (DisplayAnnotations)
            {
                <a><h4>Annotations:</h4></a>
            }

            @if (AnnotationsOnCurrentPage != null)
            {
                @foreach (var ann in AnnotationsOnCurrentPage)
                {
                    <a class="pointer-cursor" @onclick="@(async() => { await Viewer.OpenSeadragonClient.PanTo(ann.id); })">
                        @((ann.body[0].value.Length > 50) ? ann.body[0].value.Substring(0, 47) + "..." : ann.body[0].value)
                    </a>
                }
            }
        </div>
    </div>
    <div class="fixed-bottom-right text-white" style="margin-right:50px;">
        <!-- Button to trigger the description modal -->
        <a id="infoButton"
           data-toggle="modal" data-target="#descriptionModal"
           @onclick="@(async() => { await GetDescriptionForPage(PageIndex); })"></a>
        <!-- Button to trigger the filter modal -->
        <a id="filterButton"
           data-toggle="modal" data-backdrop="false" data-target="#filterModal"></a>

        <a id="adminButton" href="/admin@((Category == "") ? "" : $"?category={Category}")"></a>
    </div>

    <!-- Description modal -->
    <div class="modal fade"
         id="descriptionModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="descriptionModalLabel">
                        Info
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @if (Descriptions != null)
                {
                    <div class="modal-body">
                        @Descriptions[PageIndex]
                    </div>
                }
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter modal -->
    <div class="modal fade" style="pointer-events: none;"
         id="filterModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left: 40px; max-width: 400px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">
                        Filters
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <OpenSeadragonFilteringControls />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="loading-screen">
        <div class="centered text-white text-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="mt-4">
                Fetching the list of images.
            </p>
        </div>
    </div>
}

@code {
    public string Category { get; set; }
    public int PageIndex { get; set; } = 0;

    private string[] TileSourcePaths { get; set; }
    private string[] AnnotationPaths { get; set; }
    private bool HasInitialized { get; set; } = false;

    public OpenSeadragonViewer Viewer { get; set; }

    private W3CWebAnnotationModel[] AnnotationsOnCurrentPage { get; set; }
    private MarkupString[] Descriptions { get; set; }

    private bool DisplayAnnotations { get; set; } = false;

    private async Task OnAnnotationsChanged(W3CWebAnnotationModel[] annotations)
    {
        AnnotationsOnCurrentPage = annotations;
        this.StateHasChanged();
    }
    private async Task OnPageChanged(int page)
    {
        PageIndex = page;
        this.StateHasChanged();
    }

    private async Task ToggleDisplayAnnotations()
    {
        DisplayAnnotations = !DisplayAnnotations;
        await Viewer.OpenSeadragonClient.SetDisplayAnnotations(DisplayAnnotations);
        this.StateHasChanged();
    }

    private async Task GetDescriptionForPage(int i)
    {
        if (Descriptions[i].Value == null)
        {
            string name = HttpUtility.UrlDecode(TileSourcePaths[i][(TileSourcePaths[i].LastIndexOf('/') + 1)..^4]);
            Descriptions[i] = await AnonymousClient.GetDescriptionAsync(Category, name);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Uri uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("category", out var category))
        {
            Category = category;
        }
        else
        {
            Category = "test category";
        }

        string[] DirectoryURIs = await AnonymousClient.GetDZIDirectoryURIsAsync(Category);

        TileSourcePaths = new string[DirectoryURIs.Length];
        AnnotationPaths = new string[DirectoryURIs.Length];
        Descriptions = new MarkupString[DirectoryURIs.Length];
        for (int i = 0; i < DirectoryURIs.Length; i++)
        {
            TileSourcePaths[i] = AnonymousClient.GetTileSourceURIFromDirectoryURI(DirectoryURIs[i]);
            AnnotationPaths[i] = AnonymousClient.GetAnnotationsURIFromDirectoryURI(DirectoryURIs[i]);
        }

        HasInitialized = true;
    }
}