@page "/"

@using System.Web

@inject IJSRuntime JsRuntime

<!-- Header -->
<header>
    <div class="w3-container">
        <h1><b>My Gallery</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
            <span class="w3-margin-right">Filter:</span>
            <button class="w3-button w3-black">ALL</button>
            <button class="w3-button w3-white"><i class="fa fa-diamond w3-margin-right"></i>Design</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-photo w3-margin-right"></i>Photos</button>
            <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Art</button>
        </div>
    </div>
</header>
 
@for (int i = 0; i < RowsOfImages; i++)
{
<div class="w3-row-padding">
    @for (int j = 0; j < ((FileNames.Length - 3 * i < 3) ? FileNames.Length % 3 : 3); j++)
    {
        <div class="w3-third w3-container w3-margin-bottom">
            <img src="@($"Images/{FileNames[3*i+j].Substring(0, FileNames[3*i+j].LastIndexOf('.'))}_files/7/0_0.jpg")" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
                <a href="@($"/viewer/{HttpUtility.UrlEncode(FileNames[3*i+j])}")"><b>Lorem Ipsum</b></a>
                <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            </div>
        </div>
    }
</div>
}

<!-- Pagination -->
<div class="w3-center w3-padding-32">
    <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-dark-grey">
    <div class="w3-row-padding">
        <h3>FOOTER</h3>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
</footer>

<div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></div>

@code {
    private string[] FileNames { get; set; } = new string[0];
    private int RowsOfImages { get { return (int)Math.Ceiling((double)FileNames.Length / 3); } }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        FileNames = await JsRuntime.InvokeAsync<string[]>("OwnFileService.getImageNames");
    }
}