<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dzigalleryfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8f75ad18-35d4-42e9-9f64-735d0349ad53/resourceGroups/ImageGallery/providers/Microsoft.Web/sites/dzigalleryfunctions</ResourceId>
    <UserName>$dzigalleryfunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://dzigalleryfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>