
@using BlazorUI.Services
@using BlazorUI.Services.JSInteropHelpers
@using HttpRequestModelsClassLibrary

@inject IJSRuntime JSRuntime
@inject OpenSeadragonClient OSDClient

<div @ref="ViewerReference" @attributes="UnmatchedParameters"></div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> UnmatchedParameters { get; set; }
    [Parameter]
    public string[] TileSourcePaths { get; set; }
    [Parameter]
    public string[] AnnotationPaths { get; set; }
    [Parameter]
    public AnnotationHelper.OnAnnotationChanged OnAnnotationsChanged { get; set; }

    public OpenSeadragonClient OpenSeadragonClient { get { return OSDClient; } }

    private ElementReference ViewerReference { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            OSDClient.AnnotationsChanged += OnAnnotationsChanged;

            await OSDClient.InitAsync(ViewerReference, TileSourcePaths, AnnotationPaths);
        }
    }
}
