
<div>
    <div>
        <div>
            <input type="checkbox" 
                    oninput="document.getElementById('thresholdingInput').disabled = !this.checked;
                            document.getElementById('thresholdingNumberInput').disabled = !this.checked;" />
            <label for="thresholdingNumberInput">Threshholding: </label>
            <input id="thresholdingNumberInput" type="number" min="0" max="255" value="100" disabled
                   oninput="document.getElementById('thresholdingInput').value = this.value;" />
            <input id="thresholdingInput" type="range" min="0" max="255" value="100" disabled
                   oninput="document.getElementById('thresholdingNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox"
                    oninput="document.getElementById('brightnessInput').disabled = !this.checked;
                            document.getElementById('brightnessNumberInput').disabled = !this.checked;" />
            <label for="brightnessNumberInput">Brightness: </label>
            <input id="brightnessNumberInput" type="number" min="-255" max="255" value="0" disabled
                   oninput="document.getElementById('brightnessInput').value = this.value;" />
            <input id="brightnessInput" type="range" min="-255" max="255" value="0" disabled
                   oninput="document.getElementById('brightnessNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox"
                    oninput="document.getElementById('contrastInput').disabled = !this.checked;
                            document.getElementById('contrastNumberInput').disabled = !this.checked;" />
            <label for="contrastNumberInput">Contrast: </label>
            <input id="contrastNumberInput" type="number" min="0" max="4" value="1" disabled
                   oninput="document.getElementById('contrastInput').value = this.value * 100;" />
            <input id="contrastInput" type="range" min="0" max="400" value="100" disabled
                   oninput="document.getElementById('contrastNumberInput').value = this.value / 100;" />
        </div>
        <div>
            <input type="checkbox"
                    oninput="document.getElementById('gammaInput').disabled = !this.checked;
                            document.getElementById('gammaNumberInput').disabled = !this.checked;" />
            <label for="gammaNumberInput">Gamma: </label>
            <input id="gammaNumberInput" type="number" min="0" max="4" value="1" disabled
                   oninput="document.getElementById('gammaInput').value = this.value * 100;" />
            <input id="gammaInput" type="range" min="0" max="400" value="100" disabled
                   oninput="document.getElementById('gammaNumberInput').value = this.value / 100;" />
        </div>
        <div>
            <label for="grayScaleInput">Grayscale: </label>
            <input id="grayScaleInput" type="checkbox" />
        </div>
        <div>
            <label for="invertInput">Invert colours: </label>
            <input id="invertInput" type="checkbox" />
        </div>
    </div>

    <div>
        <button type="button" 
                class="btn btn-outline-primary"
                onclick="window.OpenSeadragonFilteringClient.clearFilters();">Clear Filters</button>

        <button type="button" 
                class="btn btn-primary"
                onclick="window.OpenSeadragonFilteringClient.applyFilters();">Apply Filters</button>
    </div>
</div>