
<div>
    <div onchange="window.OpenSeadragonFilteringClient.applyFilters();">
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('exposureInput').disabled = !this.checked;
                            document.getElementById('exposureNumberInput').disabled = !this.checked;" />
            <label for="exposureNumberInput" style="width: 110px;">Exposure: </label>
            <input id="exposureNumberInput" type="number" min="-100" max="100" value="0"
                   oninput="document.getElementById('exposureInput').value = this.value;" />
            <input id="exposureInput" type="range" min="-100" max="100" value="0"
                   oninput="document.getElementById('exposureNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('brightnessInput').disabled = !this.checked;
                            document.getElementById('brightnessNumberInput').disabled = !this.checked;" />
            <label for="brightnessNumberInput" style="width: 110px;">Brightness: </label>
            <input id="brightnessNumberInput" type="number" min="-100" max="100" value="0"
                   oninput="document.getElementById('brightnessInput').value = this.value;" />
            <input id="brightnessInput" type="range" min="-100" max="100" value="0"
                   oninput="document.getElementById('brightnessNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('contrastInput').disabled = !this.checked;
                            document.getElementById('contrastNumberInput').disabled = !this.checked;" />
            <label for="contrastNumberInput" style="width: 110px;">Contrast: </label>
            <input id="contrastNumberInput" type="number" min="-100" max="100" value="0"
                   oninput="document.getElementById('contrastInput').value = this.value;" />
            <input id="contrastInput" type="range" min="-100" max="100" value="0"
                   oninput="document.getElementById('contrastNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('saturationInput').disabled = !this.checked;
                            document.getElementById('saturationNumberInput').disabled = !this.checked;" />
            <label for="saturationNumberInput" style="width: 110px;">Saturation: </label>
            <input id="saturationNumberInput" type="number" min="-100" max="100" value="0"
                   oninput="document.getElementById('saturationInput').value = this.value;" />
            <input id="saturationInput" type="range" min="-100" max="100" value="0"
                   oninput="document.getElementById('saturationNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('vibranceInput').disabled = !this.checked;
                            document.getElementById('vibranceNumberInput').disabled = !this.checked;" />
            <label for="vibranceNumberInput" style="width: 110px;">Vibrance: </label>
            <input id="vibranceNumberInput" type="number" min="-100" max="100" value="0"
                   oninput="document.getElementById('vibranceInput').value = this.value;" />
            <input id="vibranceInput" type="range" min="-100" max="100" value="0"
                   oninput="document.getElementById('vibranceNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('gammaInput').disabled = !this.checked;
                            document.getElementById('gammaNumberInput').disabled = !this.checked;" />
            <label for="gammaNumberInput" style="width: 110px;">Gamma: </label>
            <input id="gammaNumberInput" type="number" min="0" max="10" value="1"
                   oninput="document.getElementById('gammaInput').value = this.value;" />
            <input id="gammaInput" type="range" min="0" max="10" value="1"
                   oninput="document.getElementById('gammaNumberInput').value = this.value;" />
        </div>
        <div>
            <input id="grayScaleInput" type="checkbox" />
            <label for="grayScaleInput">Grayscale: </label>
        </div>
        <div>
            <input id="invertInput" type="checkbox" />
            <label for="invertInput">Invert colours: </label>
        </div>
    </div>

    <div>
        <button type="button"
                class="btn btn-outline-primary"
                onclick="window.OpenSeadragonFilteringClient.clearFilters(this.parentNode.parentNode);">
            Clear Filters
        </button>
        <p><small>Clearing the filters may require closing the popup.</small></p>
    </div>
</div>