
<div>
    <div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('exposureInput').disabled = !this.checked;
                            document.getElementById('exposureNumberInput').disabled = !this.checked;" />
            <label for="exposureNumberInput">Exposure: </label>
            <input id="exposureNumberInput" type="number" min="-100" max="100" value="0"
                   oninput="document.getElementById('exposureInput').value = this.value;" />
            <input id="exposureInput" type="range" min="-100" max="100" value="0"
                   oninput="document.getElementById('exposureNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('brightnessInput').disabled = !this.checked;
                            document.getElementById('brightnessNumberInput').disabled = !this.checked;" />
            <label for="brightnessNumberInput">Brightness: </label>
            <input id="brightnessNumberInput" type="number" min="-100" max="100" value="0"
                   oninput="document.getElementById('brightnessInput').value = this.value;" />
            <input id="brightnessInput" type="range" min="-100" max="100" value="0"
                   oninput="document.getElementById('brightnessNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('contrastInput').disabled = !this.checked;
                            document.getElementById('contrastNumberInput').disabled = !this.checked;" />
            <label for="contrastNumberInput">Contrast: </label>
            <input id="contrastNumberInput" type="number" min="-100" max="100" value="0"
                   oninput="document.getElementById('contrastInput').value = this.value;" />
            <input id="contrastInput" type="range" min="-100" max="100" value="0"
                   oninput="document.getElementById('contrastNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('saturationInput').disabled = !this.checked;
                            document.getElementById('saturationNumberInput').disabled = !this.checked;" />
            <label for="saturationNumberInput">Saturation: </label>
            <input id="saturationNumberInput" type="number" min="-100" max="100" value="0"
                   oninput="document.getElementById('saturationInput').value = this.value;" />
            <input id="saturationInput" type="range" min="-100" max="100" value="0"
                   oninput="document.getElementById('saturationNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('vibranceInput').disabled = !this.checked;
                            document.getElementById('vibranceNumberInput').disabled = !this.checked;" />
            <label for="vibranceNumberInput">Vibrance: </label>
            <input id="vibranceNumberInput" type="number" min="-100" max="100" value="0"
                   oninput="document.getElementById('vibranceInput').value = this.value;" />
            <input id="vibranceInput" type="range" min="-100" max="100" value="0"
                   oninput="document.getElementById('vibranceNumberInput').value = this.value;" />
        </div>
        <div>
            <input type="checkbox" checked="checked"
                   oninput="document.getElementById('gammaInput').disabled = !this.checked;
                            document.getElementById('gammaNumberInput').disabled = !this.checked;" />
            <label for="gammaNumberInput">Gamma: </label>
            <input id="gammaNumberInput" type="number" min="0" max="10" value="1"
                   oninput="document.getElementById('gammaInput').value = this.value;" />
            <input id="gammaInput" type="range" min="0" max="10" value="1"
                   oninput="document.getElementById('gammaNumberInput').value = this.value;" />
        </div>
        <div>
            <label for="grayScaleInput">Grayscale: </label>
            <input id="grayScaleInput" type="checkbox" />
        </div>
        <div>
            <label for="invertInput">Invert colours: </label>
            <input id="invertInput" type="checkbox" />
        </div>
    </div>

    <div>
        <button type="button" 
                class="btn btn-outline-primary"
                onclick="window.OpenSeadragonFilteringClient.clearFilters();">Clear Filters</button>

        <button type="button" 
                class="btn btn-primary"
                onclick="window.OpenSeadragonFilteringClient.applyFilters();">Apply Filters</button>
    </div>
</div>