@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

    a[data-toggle="collapse"] {
        position: relative;
    }

.text-editor {
    max-height: 50vh;
    overflow-y: auto;
}

.modal-body {
    max-height: 75vh;
    overflow-y: auto;
}

.modal-body img {
    width: 100%;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content {
    width: 100%;
    height: 100vh;
    position: relative;
}
#sidebar {
    background: #464646;
    color: #fff;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #585858;
    }

    #sidebar ul {
        max-height: calc(100vh - 280px);
        overflow-y: auto;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #404040;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        overflow-x: auto;
    }
        #sidebar ul li a.semi-active {
            color: #404040;
            background: #cfcfcf;
        }

        #sidebar ul li a.active {
            color: #404040;
            background: #fff;
        }

        #sidebar ul li a:hover {
            color: #404040;
            background: #fff;
        }

        #sidebar ul li ul {
            max-height: unset;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #232323;
}

.fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

.bottom-left-of-parent {
    position: absolute;
    bottom: 0;
    left: 0;
}

.admin-link {
    background-color: #372d38;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.admin-link:hover {
    background-color: #553b54;
}

.override-button-default {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}

.osd-navbar {
    position: fixed;
    top: 0;
    left: 0;
}

.drop-right {
}

    .drop-right .drop-right-content {
        visibility: hidden;
        position: absolute;
        top: -5px;
        left: 105%;
        background-color: #e2e2e2;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .drop-right:hover .drop-right-content {
        visibility: visible;
    }

/* Dropdown Button */
.dropbtn {
    background-color: #372d38;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-fixed-bottom-left {
    position: fixed;
    display: inline-block;
    bottom: 0;
    left: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 80vh;
    overflow-y: auto;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown-fixed-bottom-left:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
    background-color: #3e8e41;
}

.full-page-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.loading-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.covers-entire-parent {
    width: 100%;
    height: 100%;
    margin: 0;
}

.pointer-cursor {
    cursor: pointer;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}